OAuthScopeValidatorExtention/.idea/.gitignore
OAuthScopeValidatorExtention/.idea/$PROJECT_FILE$
OAuthScopeValidatorExtention/.idea/checkstyle-idea.xml
OAuthScopeValidatorExtention/.idea/compiler.xml
OAuthScopeValidatorExtention/.idea/jarRepositories.xml
OAuthScopeValidatorExtention/.idea/misc.xml
OAuthScopeValidatorExtention/.idea/runConfigurations.xml
OAuthScopeValidatorExtention/.idea/uiDesigner.xml
